body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:70px;
}
#u6262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:69px;
}
#u6263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  word-wrap:break-word;
}
