body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:73px;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:72px;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u1784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:59px;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:90px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u1786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:59px;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:82px;
  width:90px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u1788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:59px;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:82px;
  width:90px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u1790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:59px;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:82px;
  width:90px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u1792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:259px;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:680px;
  height:258px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  word-wrap:break-word;
}
