body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:55px;
}
#u6490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:54px;
}
#u6491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
