body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:364px;
}
#u6480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:690px;
  height:363px;
}
#u6481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  word-wrap:break-word;
}
