body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:421px;
}
#u6280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:420px;
}
#u6281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
