body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u6123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u6125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u6127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
}
#u6128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
}
#u6129 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:29px;
  width:50px;
  height:26px;
}
#u6130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
}
#u6131 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:29px;
  width:50px;
  height:26px;
}
#u6132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:171px;
}
#u6133 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:140px;
  width:15px;
  height:170px;
}
#u6134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:127px;
}
#u6135 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:0px;
  width:550px;
  height:126px;
}
#u6136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
