body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:193px;
}
#u6478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:192px;
}
#u6479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
