body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:321px;
}
#u6274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:320px;
}
#u6275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
