body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:421px;
}
#u6270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:420px;
}
#u6271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  word-wrap:break-word;
}
