body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:124px;
}
#u5797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:123px;
}
#u5798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  word-wrap:break-word;
}
