body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:601px;
}
#u6266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:600px;
}
#u6267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  word-wrap:break-word;
}
